.slideshow {
    text-align: center;  
    padding: 2rem;
    background-color: black;
    
    
  }
  
  .slides {
    position: relative;
    
  }
  
  .slides img {
     margin: auto;
  }

  .slides .slick-prev,
  .slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 1;
    margin-left: 13.5%;
    margin-right: 13.5%;
  }
  

/* Media Queries */

@media screen and (max-width: 600px) {
  .slideshow {
      display: none;
  }
}

@media screen and (max-width: 800px) {
  .slideshow {
      display: none;
  }
  
}
